<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Display</title>
    <style>
        .btn{
            padding: 10px 20px; 
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="/" ><button class="btn">Go Back to Main Page</button></a>

    <div >

    <div>
    <!-- Input Image Section -->
    <h3>Uploaded Image</h3>
    <img src="{{ input_image }}" alt="Input Image">
    <br>
    </div>
    <div>
    <!-- Output Image Section -->
    <h3>
        {% if operation == 'encrypt' %}
            Encrypted Image
        {% elif operation == 'decrypt' %}
            Decrypted Image
        {% else %}
            Output Image
        {% endif %}
    </h3>
    <img src="{{ output_image }}" alt="Output Image">
</div>
</div>
    <br>
    <!-- Download Output Image -->
    <a href="{{ output_image }}" download="output_image.png">
        <button class="btn">Download Image</button>
    </a>
</body>
</html>
